* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.btn {
  height: 3rem;
  background-color: #ff0;
  border-radius: 0.25rem;
}
