* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial;
}

body {
    background: #ddd;
    height: 1000px;
    margin: 60px;
    display: grid;
    gap: 60px;
    justify-items: center;
}

header {
    text-align: center;
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    text-align: center;
    background-color: #fff;
    color: black;
    border-radius: 3px;
    padding: 15px 30px;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div-first {
    background-color: #fff;
    display: grid;
    grid-template-rows: auto;
    justify-items: flex-end;
    align-items: center;
}

.div-first p {
    text-align: right;
}

.btn-div {
    display: inline-block;
    background-color: #f00;
    padding: 15px 40px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

hr {
    display: inline-block;
    position: relative;
    right: -45px;
    background: #f00;
    width: 90px;
    height: 4px;
    border: none;
    border-radius: 4px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.container img {
    max-width: 100%;
    border-radius: 4px;
}

.icon-section {
    width: 30px;
}
